// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');


//parameters

$main-background: #FFFFFF;
$label-text-color : #323232;
$page-bg-color: #FFFFFF;
$select-field-text-color: #999;
$picker-sheet-radius :0;
$bar-bg-color :  #EDEDED;
$icon-bg-color :#f13e92;
$entre-bg-color :#f44e87;
$plat-bg-color :#75d628;
$dessert-bg-color :#00afe9;
$autre-bg-color :#f775e8;
$menu-button-label-color :#FFFFFF;

$light-grey-background: #EDEDED;
$border-color: #BBBBBB;
$gray-text: #9A9A9A;
$blue-background: rgb(53, 169, 226);
$blue-text: rgb(53, 169, 226);
$dark-blue-text: rgb(3, 119, 176); 
$menu-bottom-text-color :#06320e ;
$menu-bar-text-color :#06320e ;
$color-gris : #e8e8e8;
$disscusion-text-color : #c9c9c9;
@font-face {
  font-family: 'Helvetica Neue';
  src: url('fonts/Helvetica-Neue/HelveticaNeue.otf'),
  url('fonts/Helvetica-Neue/HelveticaNeue.ttf') format('truetype'),
  url('fonts/Helvetica-Neue/HelveticaNeue.svg') format('svg');
}
@include icon-font('CustomIcons', inline-font-files('fontello/fontello.woff', woff, 'fontello/fontello.ttf', truetype,'fontello/fontello.svg', svg));

@include icon-font('Helvetica Neue', inline-font-files('Helvetica-Neue/HelveticaNeue.otf', otf));
@include icon("icon-arrow-right"  , "c" , 'CustomIcons');

@include icon("menu"  , "\e009");


//toolbar  top
.x-toolbar 
{
  background-color: $main-background;

  .x-title {
    color:$label-text-color;
    .x-innerhtml {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: Helvetica Neue;
      font-size:1.3em;
    }
  }

}

.x-toolbar-dark 
{
 background-image : none;
}

.apptopbar
{
   border-bottom: solid 1px #BBBBBB;

}



//toolbar  bottom

.x-tabbar
{
  background-color: $main-background;
}
.x-tabbar-dark
{
  background-image : none;
}
.x-toolbar.x-docked-top {
  border-radius: 0;
}
.x-tab.x-tab-active .x-button-label
{
  color: $label-text-color;

}


// tabbarmenu

.tabbarmenu
{ 
  background-color:$bar-bg-color;
  .x-tab{
    width: 50%;

  } 

  
}
.x-tabbar.x-docked-top .x-tab
  { 
    background-color:$page-bg-color; 
     border: solid 1px $icon-bg-color;
     .x-button-label
     {
      color: $icon-bg-color;
     }

  }
 .x-tabbar.x-docked-top .x-tab.x-tab-active
    {
      background-color:$icon-bg-color ;

    }
.appcontent
{
  background-color:$page-bg-color; 
}
.x-phone
{


     #accueilviewcontainer

    { 
        #pub-image-list  img 
        {
          width: 100%;      
        }
       #carousel_container
       {
           height: 100px;

       }
       .category-menu-button
       {

          margin: 8px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          text-align: center;
          text-decoration: none;
          font-size: 10px;
          border: 0;
          .x-button-label{
            color: $menu-button-label-color;
          }
       }
         .entre 
          {
             background: $entre-bg-color;
           }
          .dessert  
          {

             background: $plat-bg-color;
           }
          .plat 
          {
               background: $dessert-bg-color;
     
          }
          .autre
          {

            background: $autre-bg-color;
           }
       .category-menu-panel
       { 
           height: 70px !important;
           border-bottom: solid 1px #BBB;
       }
       .x-carousel-item
       { 
          .x-innerhtml
          {
            padding: 0px;
          }
       }
      .x-carousel-indicator-active
       {
           background-color :$icon-bg-color ;
           
       }  
       .x-carousel-indicator span
       {
         width: 5px;
         height: 5px

       }
         .platpop-item
         {
            width: 50%;
            height: 50%;
            float: left;
            padding: 2px;
            .platpopimage img
            { 
              width: 100%;
            }
        }
      #platpopbar
      {
         border: none;
         .x-innerhtml
         {
           font-size: 16px;

         } 
      }  

    }  
  
}
#recette_list
{

    .x-list-item
    {
        height: 200px;

       
    }
     .x-innerhtml
       { 
         padding: 0px;
       }
      .recette-list-item
      {

         
             .recette-list-item-image img
             {
                 width: 100%;
                 height: 200px;

             }
            .recette-list-item-title
            {
                 margin-top: -40px;
                background: rgba(5, 4, 4, 0.5);
                z-index: 20;
                position: absolute;
                width: 100%;
                height: 40px;
                color: #FFFFFF;
                padding: 3px;
                font-size: 13px;
            } 
      }
  
}




 
 #plusview
 {
    .autre-menu
    {
       height: 20%;
       margin-bottom: 10%;
    }
     .autre-menu .x-label  .x-innerhtml
    {
        
       margin-top: -40px;
      background: rgba(5,4,4,0.5);
      z-index: 20;
      position: absolute;
      width: 100%;
      height: 40px;
      color: #FFFFFF;
      padding: 3px;
      font-size: 16px;
      text-align: center;
      padding-top: 9px;

    }
    .x-innerhtml img
    {
       
      width: 100%;

    }
    .autre-menu-button
    {

         border-radius: 0;
         border:solid 1px #ccc;
        border-right: none;
        border-left: none;
        height: 13%;
        margin-top: 9%;
        .x-button-label
        {

          color: #222;
        }
    }
   



 }
 



.x-tablet
{ 
 #accueilviewcontainer

    { 
        #pub-image-list  img 
        {
          width: 100%;      
        }
       #carousel_container
       {
          height:250px;

       }
       .category-menu-button
       {

           width: 100px;
          height: 100px;
          border-radius: 50%;
          text-align: center;
          text-decoration: none;
          border: none;
          margin: 20px;
          font-size: 20px;
          .x-button-label{
            color: $menu-button-label-color;
          }
       }
         .entre 
          {
             background: $entre-bg-color;
           }
          .dessert  
          {

             background: $plat-bg-color;
           }
          .plat 
          {
               background: $dessert-bg-color;
     
          }
          .autre
          {

            background: $autre-bg-color;
           }
       .category-menu-panel
       { 
          border-bottom: solid 1px #BBB;
          height: 140px !important;
       }
       .x-carousel-item
       { 
          .x-innerhtml
          {
            padding: 0px;
          }
       }
      .x-carousel-indicator-active
       {
           background-color :$icon-bg-color ;
           
       }  
       .x-carousel-indicator span
       {
         width: 5px;
         height: 5px

       }
         .platpop-item
         {
            width: 50%;
            height: 50%;
            float: left;
            padding: 2px;
            .platpopimage img
            { 
              width: 100%;
            }
        }
      #platpopbar
      {
         border: none;
         .x-innerhtml
         {
           font-size: 16px;

         } 
      }  

    }  


  .platpop-item-tablet
{

   width: 50%;
   .platpopimage img
   {
     width: 100%;

   } 
  .platpopimage  
   {
      padding: 5px;

   } 
  
}




      

}

 


#calculatorview , #decisionview{
  .x-tabbar.x-docked-top .x-tab.x-tab-active
  {
    background-color :$main-background;
    .x-button-label
    { 
      color:$label-text-color;
    }
  } 
  .x-tabbar.x-docked-top .x-tab
  { 
    border: 1px solid $main-background;
  }
  .x-tabbar.x-docked-top .x-tab .x-button-label
  {
    color:$main-background; 
  }
}
.x-inner .x-panel-inner
{
  width: 100% !important; 
}

 

#densite_navigation_view
{
  .densite-navigation-bar {
    background-color: $light-grey-background;
    border-bottom: 1px solid $border-color; 
    .x-title {
      color: $main-background;
    }  
    .x-innerhtml
    {
      font-size :16px;
    }
  }
  .x-navigationview
  { 
     .x-button-back .x-button-label
     {
        color: $main-background; 
     }

  }

  

} 

  
 
/* footer */
.footer-tabbar {
  .x-tab {
    width: 20%;
    margin: 0;

    .x-button-icon {
      width: 30px;
      height: 30px;
    }
    .x-button-label {
      line-height: 2em;
      color: $menu-bottom-text-color;
      font-size: 9px;
    }
  }

.accueil-icon {
    background-image:url("images/accueil_off.png");
    background-size: cover; 
    background-position-x: -6px;
  }

  .recherche-icon {
    background-image:url("images/recherche_off.png");
    background-size: cover; 
    background-position-x: -6px;
  }

  .communaute-icon {
    background-image:url("images/communaute_off.png");
    background-size: cover; 
    background-position-x: -6px;
  }

  .suggestions-icon {
    background-image:url("images/suggestions_off.png");
    background-size: cover; 
    background-position-x: -6px;
  }

  .plus-icon {
    background-image:url("images/plus_off.png");
    background-size: cover; 
    background-position-x: -6px;
  }
  .x-tab-active 
  {
    background:none;
    .x-button-label {
      color: $icon-bg-color;
    }

    .accueil-icon {
      background-image:url("images/accueil_on.png"); 
      
    }

    .recherche-icon {
      background-image:url("images/recherche_on.png"); 
    }

    .communaute-icon {
      background-image:url("images/communaute_on.png");
  
    }

    .suggestions-icon {
      background-image:url("images/suggestions_on.png");
     
    }

    .plus-icon {
      background-image:url("images/plus_on.png");
    
    }
  }
}
// contact page

.contact-button-label
{
    margin: auto; 
   .x-innerhtml
   {
    padding-top: 5px;
   }
}


