// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');


//parameters

$main-background: #f13e92;
$label-text-color : #FFFFFF;
$page-bg-color: #FFFFFF;
$select-field-text-color: #999;
$picker-sheet-radius :0;
$bar-bg-color :  #EDEDED;

$light-grey-background: #EDEDED;
$border-color: #BBBBBB;
$gray-text: #9A9A9A;
$blue-background: rgb(53, 169, 226);
$blue-text: rgb(53, 169, 226);
$dark-blue-text: rgb(3, 119, 176); 
$menu-bottom-text-color :#06320e ;
$menu-bar-text-color :#06320e ;
$color-gris : #e8e8e8;
$disscusion-text-color : #c9c9c9;
@font-face {
  font-family: 'Helvetica Neue';
  src: url('fonts/Helvetica-Neue/HelveticaNeue.otf'),
  url('fonts/Helvetica-Neue/HelveticaNeue.ttf') format('truetype'),
  url('fonts/Helvetica-Neue/HelveticaNeue.svg') format('svg');
}
@include icon-font('CustomIcons', inline-font-files('fontello/fontello.woff', woff, 'fontello/fontello.ttf', truetype,'fontello/fontello.svg', svg));

@include icon-font('Helvetica Neue', inline-font-files('Helvetica-Neue/HelveticaNeue.otf', otf));
@include icon("icon-arrow-right"  , "c" , 'CustomIcons');

//toolbar  top
.x-toolbar 
{
  background-color: $main-background;

  .x-title {
    color:$label-text-color;
    .x-innerhtml {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: Helvetica Neue;
      font-size:1.3em;
    }
  }
}
.x-toolbar.x-docked-top {
 border-bottom: 1px solid transparent;
}
.x-toolbar-dark 
{
 background-image : none;
}


//toolbar  bottom

.x-tabbar
{
  background-color: $main-background;
}
.x-tabbar-dark
{
  background-image : none;
}
.x-toolbar.x-docked-top {
  border-radius: 0;
}
.x-tab.x-tab-active .x-button-label
{
  color: $label-text-color;

}


// tabbarmenu

.tabbarmenu
{ 
  background-color:$bar-bg-color;
  .x-tab{
    width: 50%;
  } 
}
.x-layout-card-item
{ 
  background-color:$page-bg-color; 
}
.appcontent
{
  background-color:$page-bg-color; 
}




// disscusion page

.criteresbar
{
  background-color: $bar-bg-color;
  .criteresbarlabel
  { 
    width: 70%;
    text-align: center;
    vertical-align: middle;
    line-height: 44px;
    margin: 0 auto;
    color :$main-background;
  }
}



//actualite page

#actualiteBackButton 
{ 

  height: 27px;
 
} 
#actualiteBackButton::after, #messageBackButton::after{
  position: absolute;
  right: 1em;
  font-family: "CustomIcons";
  content: "2";
  color: #FFF;
}
.actu-list-item
{ 
  height: 65px; 
  .actu-list-item-img{  
    float: left;
    height: 100%;
    width: 60px;
    padding: 5px;
  }
  .actu-list-item-description{
    float: left;
    height: 100%;
    font-size: 11px;
    width: 75%;
    padding: 5px;

  }

}
.x-list-item
{ 
  .x-innerhtml{
    padding: 0px !important;
  }

}
.actu-list-item:after{
  position: absolute;
  top: 22px;
  bottom: 0;
  right: 1em;
  font-family: "CustomIcons";
  content: "7";
  color: $main-background;
}

.maturite-container-line
{
  margin-top: 30px; 
  .x-button
  {
   background-color:$main-background;
   border-color: $main-background;

 }
 .x-button-label
 {
  color: $label-text-color; 
}
}

#calculatorview , #decisionview{
  .x-tabbar.x-docked-top .x-tab.x-tab-active
  {
    background-color :$main-background;
    .x-button-label
    { 
      color:$label-text-color;
    }
  } 
  .x-tabbar.x-docked-top .x-tab
  { 
    border: 1px solid $main-background;
  }
  .x-tabbar.x-docked-top .x-tab .x-button-label
  {
    color:$main-background; 
  }
}
.x-inner .x-panel-inner
{
  width: 100% !important; 
}

#densite-criteresbar .buttoninfo ,#maturite-criteresbar .buttoninfo
{
  border: 1px solid $main-background;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  line-height: 22px;
  background: transparent;
  margin-top: 6px;
    .x-button-label
    {
      color:$main-background;
    }
}

.dentite-calcul-button
{
    background-color: #3bae21;
    border-color: #3bae21;
     .x-button-label
    {
      color:#FFFFFF;
    }

}

#calculatorview
{
     .maturite-navigation-bar ,.densite-navigation-bar{
    background-color: $light-grey-background;
    border-bottom: 1px solid $border-color; 
    .x-title {
      color: $main-background;
    }  
    .x-innerhtml
    {
      font-size :16px;
    }
  }
    .x-navigationview
    { 
       .x-button-back .x-button-label
       {
          color: $main-background; 
       }
    }
  .x-button.x-button-back:before
  {
     color: $main-background; 
      margin-left: 5px;
  } 
   
       
} 

#densite_navigation_view
{
  .densite-navigation-bar {
    background-color: $light-grey-background;
    border-bottom: 1px solid $border-color; 
    .x-title {
      color: $main-background;
    }  
    .x-innerhtml
    {
      font-size :16px;
    }
  }
  .x-navigationview
  { 
     .x-button-back .x-button-label
     {
        color: $main-background; 
     }

  }

  

} 

#disease_navigation_view 
{  
      .x-toolbar
      {
        background-color: $light-grey-background;

      }
      .x-innerhtml
      {
         color:$main-background;
         font-size: 16px;
      }
}
 

#decisionview {
        letter-spacing: 1px;
        .variety-navigation-bar {
          background-color: $light-grey-background;
          border-bottom: 1px solid $border-color; 
          .x-title {
            color: $main-background;
          }  
          .x-innerhtml
          {
            font-size :16px;
          }
          
        }
        .x-button.x-button-back:before
          {
            color: $main-background; 
            margin-left: 5px;
          }
      .x-navigationview
      { 
         .x-button-back .x-button-label
         {
            color: $main-background; 
         }
      }
}

/* footer */
.footer-tabbar {
  .x-tab {
    width: 20%;
    margin: 0;

    .x-button-icon {
      width: 30px;
      height: 30px;
    }
    .x-button-label {
      line-height: 2em;
      color: $menu-bottom-text-color;
    }
  }

  .actualite-icon {
    background-image:url("images/Ico_Actu_Off.png");
    background-size: cover; 
    background-position-x: -6px;
  }

  .discussion-icon {
    background-image:url("images/Ico_Discussions_Off.png");
    background-size: cover; 
    background-position-x: -6px;
  }

  .decision-icon {
    background-image:url("images/Ico_Decision_Off.png");
    background-size: cover; 
    background-position-x: -6px;
  }

  .calculator-icon {
    background-image:url("images/Ico_Calculateur_Off.png");
    background-size: cover; 
    background-position-x: -6px;
  }

  .contact-icon {
    background-image:url("images/Ico_Contact_Off.png");
    background-size: cover; 
    background-position-x: -6px;
  }

  .x-tab-active 
  {
    background:none;
    .x-button-label {
      color: white;
    }

    .actualite-icon {
      background-image:url("images/Ico_Actu_On.png"); 
      
    }

    .discussion-icon {
      background-image:url("images/Ico_Discussions_On.png"); 
    }

    .decision-icon {
      background-image:url("images/Ico_Decision_On.png");
  
    }

    .calculator-icon {
      background-image:url("images/Ico_Calculateur_On.png");
     
    }

    .contact-icon {
      background-image:url("images/Ico_Contact_On.png");
    
    }
  }
}
// contact page

.contact-button-label
{
    margin: auto; 
   .x-innerhtml
   {
    padding-top: 5px;
   }
}


